<div class="row centered-form">
  <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset col-md-offset-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Nuova Pizza</h3>
      </div>
      <div class="panel-body">
        <form>
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              placeholder="Nome della pizza" />
          </div>

          <div class="form-group">
            <textarea
              class="form-control"
              rows="5"
              placeholder="Aggiungi una descrizione"></textarea>
          </div>

          <button
            type="submit"
            class="btn btn-success btn-block">Aggiungi Pizza</button>
        </form>
      </div>
    </div>
  </div>
</div>
